<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- Config Sections -->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!-- NLog -->
  <nlog>

    <variable name="logDirectory" value="${basedir}/Logs" />

    <targets>
      <target name="fileTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="File" fileName="${logDirectory}/${shortdate}.log" layout="${level:uppercase=true} | ${date:format=HH\:hh\:ss} ${newline}Name: ${logger} ${newline}Message: ${message} ${newline}${onexception:Exception\: ${exception:format=tostring}${newline}} " />
      </target>
      <target name="consoleTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="ColoredConsole" layout="${level:uppercase=true} | ${logger} | ${message} ${onexception:| ${exception:format=tostring}}" useDefaultRowHighlightingRules="true">
        </target>
      </target>
    </targets>

    <rules>
      <logger name="Mileage.*" minLevel="DEBUG" writeTo="fileTarget" />
      <logger name="Default" minLevel="DEBUG" writeTo="fileTarget" />
    </rules>

  </nlog>

  <!-- Startup -->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!-- Runtime -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>